{{define "title"}}Marko Samuli Kirves{{end}}

{{define "description"}}Marko Samuli Kirves{{end}}

{{define "body"}}
<section class="vcard">
  <h1 class="fn">Marko Samuli Kirves</h1>
  <ul class="cf">
    <li><span>mail <a
      class="email"
      href="mailto:hello@msk.io">hello@msk.io</a></span></li>
    <li><span><a
      class="github"
      href="https://github.com/markosamuli">github.com/<span
        class="nickname">markosamuli</span></a></span></li>
    <li><span><a
      class="twitter"
      href="https://twitter.com/markosamuli">twitter.com/<span
        class="nickname">markosamuli</span></a></span></li>
    <li><span><a
      href="https://keybase.io/markosamuli">keybase.io/markosamuli</a> | pgp</span></li>
  </ul>
</section>
{{end}}
