{{define "title"}}Marko Samuli Kirves{{end}}

{{define "description"}}Marko Samuli Kirves{{end}}

{{define "body"}}
<section class="vcard">
  <h1 class="fn">Marko Samuli Kirves</h1>
  <ul class="cf">
    <li><span>mailto <a class="email" href="mailto:hello@msk.io">hello@msk.io</a></span></li>
    <li><span>search for @<span class="nickname">markosamuli</span> on <a class="twitter" href="https://twitter.com/markosamuli">twitter</a> and
    <a class="github" href="https://github.com/markosamuli">github</a></span></li>
  </ul>
</section>
{{end}}
